////
/// This file has global variables
/// @group variables
////

/// @group responsive
/// @name extra-small
$extra-small: 1em !default;
/// @name small
$small: 34em !default;
/// @name medium
$medium: 48em !default;
/// @name large
$large: 62em !default;

$px-1: -0.0625em !default;
$px1: 0.0625em !default;
$px2: 0.125em !default;
$px4: 0.25em !default;
$px8: 0.5em !default;