@import "../variables.scss";
@import "grid-mixin.scss";

[class*="col"] {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: top;
}
[class*="pull"], [class*="push"] { position: relative; }
[class*="pull"] { left: auto; }
[class*="push"] { right: auto; }
@include make-grid(xs);
@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);