@mixin calc-grid-column($index, $class, $type) {
    @if $type == width {
        @if $index == 21 {
            .col-#{$class}-33 {
                width: percentage((1 / 3));
            }
        } @else if $index == 22 {
            .col-#{$class}-66 {
                width: percentage((2 / 3));
            }
            .col-#{$class}-inline {
                width: auto;
            }
            .#{$class}-table { 
                display: table;
            }
            .#{$class}-cell {
                display: table-cell;
                vertical-align: middle;
            }
        } @else {
            .col-#{$class}-#{$index * 5} {
                width: percentage((($index * 5) / 100));
            }
        }
    } @else if $type == push {
        @if $index == 21 {
            .push-#{$class}-33 {
                left: percentage((1 / 3));
            }
        } @else if $index == 22 {
            .push-#{$class}-66 {
                left: percentage((2 / 3));
            }
        } @else {
            .push-#{$class}-#{$index * 5} {
                left: percentage((($index * 5) / 100));
            }
        }
    } @else if $type == pull {
        @if $index == 21 {
            .pull-#{$class}-33 {
                right: percentage((1 / 3));
            }
        } @else if $index == 22 {
            .pull-#{$class}-66 {
                right: percentage((2 / 3));
            }
        } @else {
            .pull-#{$class}-#{$index * 5} {
                right: percentage((($index * 5) / 100));
            }
        }
    } @else if $type == offset {
        @if $index == 21 {
            .offset-#{$class}-33 {
                margin-left: percentage((1 / 3));
            }
        } @else if $index == 22 {
            .offset-#{$class}-66 {
                margin-left: percentage((2 / 3));
            }
        } @else {
            .offset-#{$class}-#{$index * 5} {
                margin-left: percentage((($index * 5) / 100));
            }
        }
    }
}

@mixin loop-grid-columns($columns, $class, $type) {
    @for $i from 0 through $columns {
        @include calc-grid-column($i, $class, $type);
    }
}

@mixin make-grid($class) {
    @include loop-grid-columns(22, $class, width);
    @include loop-grid-columns(22, $class, push);
    @include loop-grid-columns(22, $class, pull);
    @include loop-grid-columns(22, $class, offset);
}